<% layout('layout') %>
<style>
    body {
        background-image: url('https://res.cloudinary.com/drtorq8qa/image/upload/v1721379456/wp12546119_tdmltn.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>
<div class="ms-5">
    <h1>Welcome</h1>
</div>
<div class="m-5">
<a href="/heistbank/customers">
    <button class="btn btn-outline-light">View All Customers&nbsp;&nbsp;&nbsp;</button>
</a>
</div>
<div class="ms-5">
<a href="/heistbank/oldTransactions" >
    <button class="btn btn-outline-light">View All Transactions</button>
</a>
</div>
<div class="d-flex flex-row flex-grow-1">
    
</div>
